<table class="table">
  <thead>
    <tr>
      <th scope="col">Currency Name</th>
      <th scope="col">We Buy</th>
      <th scope="col">We Sell</th>
      <th scope="col">Transition Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>{{ value.name }}</td>
      <td>{{ value.buyRate }}</td>
      <td>{{ value.sellRate }}</td>
      <td>{{ value.transitionDate }}</td>
      <td>
        <input type="button" value="Select" (click)="RowSelected(value)" />
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="rowSelected" class="container">
  <p>You are converting {{ selectedCurrency.name }} To SGD</p>
  <form (ngSubmit)="convert()">
    <div class="form-group">
      <label for="amountInput">Please enter amount to convert</label>
      <input
        type="text"
        name="myAmount"
        [(ngModel)]="amount"
        class="form-control"
        id="amountInput"
        required
      />
    </div>
    <div>
      <select
        [ngModel]="selectedRate"
        (ngModelChange)="onChangeRate($event)"
        name="sel3"
      >
        <option *ngFor="let o of options" [ngValue]="o.name">{{
          o.name
        }}</option>
      </select>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-success">Convert</button>
  </form>
  <div>Your converted value is : {{ convertedValue }}</div>
</div>
